table.my-collection{
    display:block;
}
table.my-collection > tbody{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

table.my-collection .card-row{
    display:inline-flex;
    flex-wrap: wrap;
    width:180px;
    padding:5px;
}

table.my-collection .card-row .image-tr:before{
    content:"";
    display:block;
    width:180px;
    height:255px;
    position:absolute;
    border-radius:10px;
}

table.my-collection .card-row[data-foil="1"] .image-tr:before{
    background: url(https://cdn.edgecomics.ru/files/1/4386/35320098/original/HQ-foiling-card.png);
    background-size: cover;
    opacity:0.8;
}

table.my-collection .card-row > td{
    width:100%;
    display:block;
    padding:0;
    position:relative;
    font-size:11px;
}

table.my-collection .card-row .image-tr img{
    width:100%;
    border-radius:10px;
    height:255px;
    margin:0;
}

table.my-collection .card-row .rarity-td-value,
table.my-collection .card-row .type-td-value,
table.my-collection .card-row .manacost-td-value,
table.my-collection > tbody:first-child{
    display:none;
}

table.my-collection .card-row > td:nth-child(2){
    height:44px;
    display:flex;
	align-items: center;
	justify-content: center;
}
table.my-collection .card-row > td:nth-child(6),
table.my-collection .card-row > td:nth-child(7),
table.my-collection .card-row > td:nth-child(8),
table.my-collection .card-row > td:nth-child(9){
    width:25%;
    float:left;
    height:31px;
    display:flex;
	align-items: center;
	justify-content: center;

}

.card-quality{
    background:#fff;
    width:30px;
    height:15px;
    border-radius:10px;
    display:flex;
	align-items: center;
	justify-content: center;
    margin:0!important;
    bottom:10px;
    left:calc(50% - 34px/2);
    border:2px solid #000;
}

.lang-td-value{font-size:10px!important;}

table.my-collection .card-row .card-sale-count:after{content:" шт";}
